@model IEnumerable<JMP_WU_Domain.Address>

@{
    ViewData["Title"] = "Index";
}

<h2>Addresses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Street", "Index", new { sortOrder = ViewBag.StreetSortParm })
            </th>
                <th>
                    @Html.ActionLink("Zip Code", "Index", new { sortOrder = ViewBag.ZipCodeSortParm })
                </th>
                <th>
                    @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
                </th>
            <th>
                @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
