@model JMP_WU_Domain.PhoneNr

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhoneNr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainPhoneNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainPhoneNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AltPhoneNr1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AltPhoneNr1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AltPhoneNr2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AltPhoneNr2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
