@model James_MasterPiece_WebbUppgift.ViewModels.EmployeeProjectsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>



<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>EmployeeProjects</h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, "EmployeeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                //@Html.DropDownList("EmployeeId", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>*@
        <input type="hidden" asp-for="EmployeeId" />
        <input type="hidden" asp-for="ProjectId" />
        <dl class="dl-horizontal">
           
            
            <dt>
                @Html.DisplayNameFor(model => model.Employee)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.FirstName)
            </dd>
            <div class="form-group">
                @Html.LabelFor(model => model.ProjectId, "Project Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownListFor(m => m.AllProjects, m => m.AllProjects)*@
                    @Html.DropDownList("SelectedProjects", Model.AllProjects)


                    @Html.ValidationMessageFor(model => model.ProjectId)
                </div>
                </dl>



               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


