@model IEnumerable<JMP_WU_Domain.EmployeeProjects>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.ProjectNameSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { EmployeeId = item.EmployeeId, ProjectId = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { EmployeeId = item.EmployeeId, ProjectId = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { EmployeeId = item.EmployeeId, ProjectId = item.ProjectId })*@
            </td>
        </tr>
}
    </tbody>
</table>
